body {
    padding: 50px;
}

p {
    cursor: pointer;
    margin: 0px;
}

.list-group-item {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.complete {
    text-decoration: line-through;
}